.stkCities
	h2 Lethality rates 
		span across the United States
	p.chatter Baltimore is among the most lethal cities in the country. 
		| See how it compares to other major cities below.
	.graphic
		.cities
			.cityOutline.cityOutline--0.activeCity(data-city="0")
				img(src=datalink + "images/0.png")
			.cityOutline.cityOutline--1(data-city="1")
				img(src=datalink + "images/1.png")
			.cityOutline.cityOutline--2(data-city="2")
				img(src=datalink + "images/2.png")
			.cityOutline.cityOutline--3(data-city="3")
				img(src=datalink + "images/3.png")
			.cityOutline.cityOutline--4(data-city="4")
				img(src=datalink + "images/4.png")
			.cityOutline.cityOutline--5(data-city="5")
				img(src=datalink + "images/5.png")
		.cityNameBlock
			h3.cityName.jsFade Baltimore
		.cityStats
			.statList
				h4 2015 statistics
				p Non-fatal shootings: 
					span.nonFatStat.jsFade 300
				p Fatal shootings: 
					span.fatStat.jsFade 637
				p Fatal / non-fatal ratio: 
					span.ratioStat.jsFade 0.47
			.graph
				h4 Ratio over time
				img.jsFade(src=datalink + "images/graph0.png")